<h1>ABOUT ME</h1>

<p>
Hi, my name is Brian Li. I’m a web developer living in Brooklyn, New York. I specialize in web development for e-commerce sites. I've worked with companies of all shapes and sizes, in various industries, providing front and back-end development and have experience developing with E-commerce platforms such as Salesforce Commerce Cloud (Demandware) and Magento.
</p>
<p>
I’m extremely passionate about web development and design in all it’s forms. I enjoy experimenting with new tools and learning the latest trends in technology.
</p>
<p>
Contact me if you'd like to work together on your next project.
</p>







