<div class="main-header-section">
    <h1>CONTACT</h1>
    <p>Contact or follow me</p>
</div>

<p>
	<div class="menu-social">
		<div class="menu-social-row">
			<div class="menu-social-item social-linkedin">
				<a href="https://www.linkedin.com/in/ibrianli" target="_blank">
					<img src="content/images/social/linkedin.png"/>
				</a>
			</div>
			<div class="menu-social-item social-instagram">
				<a href="https://www.instagram.com/ibrianli/" target="_blank">
					<img src="content/images/social/instagram.png"/>
				</a>
			</div>
		</div>
		<div class="menu-social-row">
			<div class="menu-social-item social-twitter">
				<a href="https://twitter.com/ibrianli" target="_blank">
					<img src="content/images/social/twitter.png"/>
				</a>
			</div>
			<div class="menu-social-item social-email">
				<a href="mailto:ibrianli@gmail.com?Subject=Hello">
					<img src="content/images/social/send-email.png"/>
				</a>
			</div>
		</div>
	</div>
</p>