<div class="flex-container">
	<div class="item">
		<h2>Web Platforms:</h2>
		<ul>
			<li>Demandware</li>
			<li>Magento</li>
			<li>Drupal</li>
			<li>Wordpress</li>
			<li>Shopify</li>
			<li>Squarespace</li>
			<li>OsCommerce</li>
		</ul>
	</div>
	<div class="item">
		<h2>Languages:</h2>
		<ul>
			<li>Javascript</li>
			<li>jQuery</li>
			<li>PHP</li>
			<li>HTML5</li>
			<li>CSS3</li>
		</ul>
	</div>
	<div class="item">
		<h2>Creative:</h2>
		<ul>
			<li>Responsive Web Design</li>
			<li>UI / UX</li>
			<li>Mocks-ups / Comps</li>
			<li>Wireframe Specs</li>
			<li>Photoshop</li>
			<li>Bridge</li>
			<li>Lightroom</li>
			<li>Image Retouching</li>
			<li>Studio Photography</li>
		</ul>
	</div>
	<div class="item">
		<h2>Projects / Productivity:</h2>
		<ul>
			<li>Agile Methodology</li>
			<li>JIRA</li>
			<li>Basecamp</li>
		</ul>
	</div>
	<div class="item">
		<h2>Misc:</h2>
		<ul>
			<li>Microsoft Excel</li>
			<li>Adobe Scene7</li>
			<li>Google Analytics</li>
			<li>Omniture</li>
			<li>RetailPRO</li>
			<li>Brightcove</li>
		</ul>
	</div>
</div>
