<div class="main-header-section">
    <h1>WORK</h1>
</div>

<!-- Container for images-->
<div class="work-image-container">
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-bicycling">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Bicycling</h2>
                        <p>Bicycling Magazine online store. Bicycling is the world’s leading bike magazine, covering all corners of the cycling world.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-runnersworld">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Runner's World</h2>
                        <p>Runner's World online store. Runner’s World, the world’s leading running magazine, informs, advises, and motivates runners of all ages and abilities.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-menshealth">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Men's Health</h2>
                        <p>Men's Health online store. Men's Health provides information and tips on fitness, health, career, relationships, nutrition, recipes, weight-loss and muscle building.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-prevention">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Prevention</h2>
                        <p>Prevention Magazine online store. Prevention is the nation's leading healthy lifestyle brand.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-womenshealth">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Women's Health</h2>
                        <p>Women's Health online store. Women’s Health provides the latest, freshest tips on style, beauty, health, fitness, weight loss, and nutrition.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-rodales">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Rodale's</h2>
                        <p>The shopping destination that brings together the best in organic living to make it easy for everyone to live a healthier, happier life.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-crashstreet">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Crashstreet</h2>
                        <p>A New York based online store that carries hard to find, limited edition and rare streetwear apparel and accessories.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-rodalestore">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Rodale Store</h2>
                        <p>Online store for Rodale Inc branded books and magazines.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="work-image-banner">
        <a href="">
            <div class="work-image work-stevenalan">
                <div class="work-detail">
                    <div class="work-text">
                        <h2 class="work-brand">Steven Alan</h2>
                        <p>Steven Alan quickly became known for discovering and representing independent designers and helping them to develop their talent. In 1999, he made his own foray into the world of design by creating the Steven Alan Collection, a line of casual, confident apparel and accessories for both men and women. And though this collection is firmly grounded in classic American roots, it has connected with a global base, being sold in more than 300 stores worldwide.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<script>
    // Initializes Gallery Loader
    helperApp.imageGallery.init();
    // Initializes Image Tile Hovers
    helperApp.workPage.init()
</script>
